<phpunit 
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Jira Api Gush Adapter Library Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
